#======== File I/O ===============
InputFile                     : S:\User\ZhengRuidi\2016_10\erp2cmp4x3\4K\Convert\abyss_great_shark_vr_30p_cubemap4x3_fromERP_3840x2880x8_cf1.yuv
InputBitDepth                 : 8           # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 50        # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 3840      # Input  frame width
SourceHeight                  : 2880         # Input  frame height
FramesToBeEncoded             : 100          # Number of frames to be coded

Level                         : 6.2
